.my-form {
   transition:all linear 0.5s;
   background: transparent;
 }
 .my-form.ng-invalid {
   background: 	#ffffff;
   opacity:2.1;
 }

.colorgreendarck{
  background-color: #32CD32;
}
.colorgreen{
  background-color: #778899;
}
.colorblue{
	background-color:#20B2AA;
}
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	button,
	.btnlogin {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: border-color 0.2s ease;
		-webkit-transition: border-color 0.2s ease;
		-ms-transition: border-color 0.2s ease;
		transition: border-color 0.2s ease;
		/*background-color: transparent;*/
		border: solid 1px !important;
		border-color: rgba(255, 255, 255, 0.15) !important;
		border-radius: 1em;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-size: 0.6em;
		/*font-weight: bold;*/
		height: calc(4.75em + 2px);
		letter-spacing: 0.25em;
		line-height: 4.75em;
		outline: 0;
		padding: 0 2.75em;
		position: relative;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
		width: 260px;
	}

	.btnsuccess {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: border-color 0.2s ease;
		-webkit-transition: border-color 0.2s ease;
		-ms-transition: border-color 0.2s ease;
		transition: border-color 0.2s ease;
		/*background-color: transparent;*/
		border: solid 1px !important;
		border-color: rgba(255, 255, 255, 0.15) !important;
		border-radius: 1em;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-size: 0.6em;
		/*font-weight: bold;*/
		height: calc(4.75em + 2px);
		letter-spacing: 0.25em;
		line-height: 4.75em;
		outline: 0;
		padding: 0 2.75em;
		position: relative;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;		
	}
	.btnsidebar {
	
		background-color: transparent;		
		/*border-color: rgba(255, 255, 255, 0.15) !important;*/
		/*border-radius: 1em;*/
		color: #778899 !important;
		cursor: pointer;
		display: inline-block;
		font-size: 17px;
		/*font-weight: bold;*/
		font-family:'Open Sans', sans-serif !important;
		height: calc(1.75em + 1px);
		/*letter-spacing: 0.25em;*/
		/*line-height: 1em;*/
		outline: 0;
		padding: 0 1.9em;
		text-underline:none;
		width:8em;	  
		
		position: relative;
		text-align: left;
		text-decoration: none;
		margin-top:1em;
		/*text-transform: uppercase;*/
		/*white-space: nowrap;*/
	}
.btnsidebar:hover {
	
		background-color: #e5f0ff;
		border: solid 0px !important;
		/*border-color: rgba(255, 255, 255, 0.15) !important;*/
		border-radius: 0.5em;
		color: #20B2AA !important;
		cursor: pointer;
		display: inline-block;
		font-size: 17px;
		/*font-weight: bold;*/
		font-family:'Open Sans', sans-serif !important;
		height: calc(1.75em + 1px);
		/*letter-spacing: 0.25em;*/
		/*line-height: 4.75em;*/
		outline: 0;
		text-underline:none;		
	  
		width:8em;
	  padding: 0 1.9em;
		position: relative;
		text-align: left;
		text-decoration: none;
		/*text-transform: uppercase;*/
		/*white-space: nowrap;*/
	}
.btnAddPatient {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: border-color 0.2s ease;
		-webkit-transition: border-color 0.2s ease;
		-ms-transition: border-color 0.2s ease;
		transition: border-color 0.2s ease;
		/*background-color: transparent;*/
		border: solid 1px !important;
		border-color: rgba(255, 255, 255, 0.15) !important;
		border-radius: 0.71em;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-size: 0.6em;
		/*font-weight: bold;*/
		height: calc(4.75em + 1px);	
		line-height: 2.75em;
		outline: 0;
		padding: 0 1.50em;
		position: relative;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
		width:90px;
	}

.inputmodal{
	border-bottom: 1px solid #E6E6FA;
	border-top: none;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	box-shadow: none;
	outline:none;
	font-family:'Open Sans', sans-serif !important;
	color:#778899
	
}

.closemodale{	
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: border-color 0.2s ease;
		-webkit-transition: border-color 0.2s ease;
		-ms-transition: border-color 0.2s ease;
		transition: border-color 0.2s ease;
		background-color: #800000;*/
		border: solid 1px !important;
		border-color: #800000;
		border-radius: 0.71em;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-size: 0.6em;
		/*font-weight: bold;*/
		height: calc(2.75em + 1px);	
		line-height: 2.75em;
		outline: 0;
		padding: 0 2.75em;
		position: relative;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;	
}
.savemodale{	
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: border-color 0.2s ease;
		-webkit-transition: border-color 0.2s ease;
		-ms-transition: border-color 0.2s ease;
		transition: border-color 0.2s ease;
		background-color: #32CD32;
		border: solid 1px !important;
		border-color: #32CD32;
		border-radius: 0.71em;
		color: #ffffff !important;
		cursor: pointer;
		display: inline-block;
		font-size: 0.6em;
		/*font-weight: bold;*/
		height: calc(2.75em + 1px);	
		line-height: 2.75em;
		outline: 0;
		padding: 0 2.75em;
		position: relative;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		white-space: nowrap;
	
}

.deleteUserButton {
   font-family: arial;
  color: #FFFFFF !important;
  font-size: 5px;
  padding: 3px 3px;
  border-radius: 25px;
  background: #DDDDDD;
  border: none;
	width:25px;
}
.deleteUserButton:hover {
  color: #FFFFFF !important;
  background: #468CCF;
  background: linear-gradient(top,  #B31B1B,  #B31B1B);
  background: -ms-linear-gradient(top,  #B31B1B,  #B31B1B);
  background: -webkit-gradient(linear, left top, left bottom, from(#B31B1B), to(#B31B1B));
  background: -moz-linear-gradient(top,  #B31B1B,  #B31B1B);
}