
  <div id="header-wrapper" >
  <div id="header" class="container">
    <div id="logo">
    <h1><a href="#"><img src="http://flysyse.com/infidom/fonts/logoinfidome.svg" width="100px;" height="50px;"></a></h1>
    </div>
    <div id="menu" >
      <ul>
        <li class="current_page_item"><a href="homepage" accesskey="1" title="">Home</a></li>
        <li><a href="patient" accesskey="2" title="">Patients</a></li>
        <li><a href="nurse" accesskey="3" title="">Infirmier</a></li>
        <li><a href="calendar" accesskey="4" title="">Calendrier</a></li>
        <li><a href="search" accesskey="5" title="">Recherche</a></li>
        <li><a href="loginPage" class="logout">logout</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="wrapper" >
	<div id="featured-wrapper">
		<div id="featured" class="extra2 margin-btm container">
			<div class="main-title">				
			</div>	
			<div class="ebox1"> 
			</div>
			<div class="ebox2"> 
				<!--span class="fa fa-anchor"></span-->
				<div class="title">						
					<h2>  </h2>
					<!--span class="byline">Integer sit amet pede vel arcu aliquet pretium</span--> 
				</div>
			</div>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy;flysyse 2016. All rights reserved  <a href="http://flysyse.com/">Contact</a> </p>
</div>