
  <div id="header-wrapper" >
  <div id="header" class="container">
    <div id="logo">
    <h1><a href="#"><img src="http://flysyse.com/infidom/fonts/logoinfidome.svg" width="100px;" height="50px;"></a></h1>
    </div>
	<div id="menu2" >
	      <ul>	       
	        <li ><span accesskey="2" title="" class="MenetitlePassword" >Activation </span></li> 
	      </ul>
	    </div>
  </div>
</div>
<div id="wrapper" ng-app="newuserPasswrd" ng-controller="newuserPasswrdController">
	<div id="featured-wrapper">
		<div id="featured" class="extra2 margin-btm container" >
			<div class="main-title">				
			</div>	
			<div class="ebox1"> 		
			<form  style="margin-left:35%; margin-top:0%;"  id="sign-up-form" class="form-horizontal" name="signup">			<div class="form-group">								
							<div class="col-sm-10" style="text-align:left;">
									<span style="color:#000; font-family:sans-serif; font-size:25px; font-weight: bold;">
									Bonjour</span>
									<span style="color:#86bd3b; font-family:sans-serif; font-size:25px; font-weight: bold;">
									 <%- name %></span>
									 <br/>
										
									<p>  Choisisez un mot de passe puis confirmer</p>
									</div>
								</div>
				<div class="form-group">	
					 <div class="col-md-6"
				        ng-class="{'has-error':signup.password.$invalid &&
				                              signup.password.$dirty}">				         
				          <!-- Added the compareTo directive that compares the passowrds -->
				          <input type="password"  class="input_login" placeholder="au moin 6 character" name="password" ng-model="password" id="password" required ng-minlength="6" compare-to="confirmPassword" >
				          <span class="help-block has-error" ng-if="signup.password.$dirty">
				            <span ng-show="signup.password.$error.required">Mot de passe requise.</span>
				            <span ng-show="signup.password.$error.minlength">le mot de passe doit contenir 6 character.</span>
				          </span>
				        </div>
				</div>
				        <!-- C O N F I R M  P A S S W O R D -->
				<div class="form-group">
				        <div class="col-md-6">				        
				          <input type="password" class="input_login" placeholder="encore une fois " name="confirmation" ng-model="confirmPassword" required>

				          <input type="hidden" name="email" ng-model="email" ng-value="qxqs" ng-update-hidden />
				          <input type="hidden" name="name" ng-model="name" ng-value="qqxq" ng-update-hidden/>
				          <span class="help-block has-error" ng-if="signup.confirmation.$dirty">
				            <span ng-show="signup.password.$error.compareTo">Le mot de passe doit etre identique.</span>
				            <span ng-show="signup.confirmation.$error.required">Confirmation password is required.</span>
				          </span>
				        </div>
				      </div>				      	

						<div class="form-group">	
						 <div class="col-md-6">			
							<button class="loginButton" type="submit" ng-disabled="signup.$invalid" ng-click="sendNewpass()">
						        <span ng-show="!signupForm.loading">Create Account</span>
						        <span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading" ></span>
						        <span ng-show="signupForm.loading">Preparing your new account...</span>
						      </button>			
							</div> 
						 </div>	     	
					</div>      
				  </form> 			
			</div>
			<div class="ebox2"> 
				<!--span class="fa fa-anchor"></span-->
				<div class="title" >
					
				</div>
			
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy;flysyse 2016. All rights reserved  <a href="http://flysyse.com/">Contact</a> </p>
</div>