
<div ng-app="addpatient"> 
  <div id="header-wrapper" >
  <div id="header" class="container">
    <div id="logo">
    <h1><a href="#"><img src="http://flysyse.com/infidom/fonts/logoinfidome.svg" width="100px;" height="50px;"></a></h1>
    </div>
    <div id="menu" >
      <ul>
        <li class="current_page_item"><a href="homepage" accesskey="1" title="">Home</a></li>
        <li><a href="patient" accesskey="2" title="">Patients</a></li>
        <li><a href="nurse" accesskey="3" title="">Infirmier</a></li>
        <li><a href="calendar" accesskey="4" title="">Calendrier</a></li>
        <li><a href="search" accesskey="5" title="">Recherche</a></li>
        <li><a href="loginPage" ng-click="toLogin();" class="logout">logout</a></li>
      </ul>
    </div>
  </div>
</div>
<div id="wrapper">
	<div id="featured-wrapper">
		<div id="featured" class="extra2 margin-btm container" >
			<div class="main-title">				
			</div>	
			<div class="ebox1"> <!--span class="fa fa-pagelines"></span-->
				<div class="title">
					<h1>Patient</h1>
					<br/>
					<span class="byline"></span> 
					<p> Liste les patients enregistré sur infidome </p>
					<span class="byline"></span> 
				</div>				
				  	<a href="#" class="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Ajouter</a> <br/> <br/><br/> <br/>
				 	<p> Cette tache nessesite l'aprobation de l'administrateur, uafin d'éviter tout fraude un code d'authentification vous sera demandé. 
					pour plus d'info vous pouvez contacter l'administrateur en charge <a href="#" >alainfly3@gmail.com </a></p>	
			</div>
			<div class="ebox2" ng-controller="showPatientController"> 
				<!--span class="fa fa-anchor"></span-->
				<div class="title">	
					<table class="table table-striped">
						<thead>
							<tr>
								<th style="text-align:left;">Nom</th>
								<th style="text-align:left;">Prenom</th>
								<th style="text-align:left;">Email</th>
								<th style="text-align:left;">Inami</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="getpatient in patient" >
								<td style="text-align:left;">{{getpatient.name}}</td>
								<td style="text-align:left;">{{getpatient.lastname}}</td>
								<td style="text-align:left;">{{getpatient.SIS}}</td>
								<td style="text-align:left;">{{getpatient.adresse}}</td>
							</tr>						
						</tbody>
					</table>
					<!--h2>Donec dictum metus</h2-->
					<!--span class="byline">Integer sit amet pede vel arcu aliquet pretium</span--> 
				</div>
			</div>
		</div>
	</div>
</div>
		<!-- Modal popup -->
<div class="modal fade" id="exampleModal" tabindex="-1"   ng-controller="addpatientController" role="dialog" aria-labelledby="exampleModalLabel" >
  <div class="modal-dialog"  role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true"  style="color:#fff;">&times;</span></button>
        <div style="color:#fff; text-align:center;" >
        <span  >Nouveau Patient</span>
        </div>
      </div>  

      <form  name="myForm" class="my-form">
      <div class="modal-body" style="text-align:center;">      
          <div class="form-group">    
          <div>       
            <input type="text" ng-model="name" class="inputPatient"  id="recipient-name" placeholder="Nom" required>
            </div> 
          </div>
           <div class="form-group">          
            <input type="text" ng-model="lastname"  class="inputPatient"  id="recipient-name" placeholder="Prenom" required>
          </div>
				  <div class="form-group">          
            <input type="text" ng-model="adresse"  class="inputPatient"   name="adresse" id="recipient-name" placeholder="Rue" required>
          </div>
		
		  <div class="form-group">          
            <input type="text" ng-model="SIS"  class="inputPatient"  name="SIS" id="recipient-name" placeholder="Numero Carte SIS" required>
          </div>
				  
           
          <div class="form-group">      
            <input type="text" ng-model="telephone"  class="inputPatient"  id="recipient-name" placeholder="Télephone/Gsm" required>
          </div>          
            <div class="modal-footer" >

              <button class="buttonclose"  data-dismiss="modal">Annuler</button>
              <button  ng-click="addpatient()" class="button " >Valider</button>
               </div>
           
       
      </div> </form>
       
    </div>
  </div>
</div>
<div id="copyright" class="container">
	<p>&copy;flysyse 2016. All rights reserved  <a href="http://flysyse.com/">Contact</a> </p>
</div>

  </div>