
<div>   
  <br/>
    <div class="list-group" >
        <!--div  class="list-group-item active">
          <span> Client</span>                    
        </div-->            
      <!--div class="container" >        
         <ul class="ulcontainer" >	
								<li class="licontainer">  <button class="btnsuccess colorgreen">Recherche</button> </li>
								<li class="licontainer">  <input type="text" id="searchCustomer" class="search"  placeholder="Rechercher..."/> </li>	
				</ul>	 
      </div-->  
			 <button class="btnsuccess colorgreen" type="button" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Nouveau client +</button>
        <table class="table">          
          <tr >
            <td><span class="infclient"> Nom </span> </td>
            <td><span class="infclient"> N° de client</span></td>
            <td><span class="infclient"> N° de Télephone </span></td> 
            <td><h3>  </h3></td>  
          </tr>
          <!--div my-dom-directive>Click Me!</div-->
          <tr  ng-repeat="value in users" style="font-size:15px; margin-top:1em;">
             <form >
               <td> <a href="" style="margin-top:0.5em; color:#828282; font-size:14px;font-family: Verdana, Arial, Helvetica, sans-serif;" > {{value.Nom}} {{value.Prenom}} </a> </td>
               <td><a href=""  style="margin-top:0.5em;  color:#778899;font-size:15px"> {{value.numero_client}} </a> </td>
               <td> <a href="" style="margin-top:0.5em;  color:#778899;font-size:15px">+243 {{value.TEL}} </a> </td>  
               <td> <button class ="deleteUserButton" type="submit" ng-click="getuserid(value.id)"  >X</button> </td>   
             </form> 
          </tr>            
      </table>
     
  </div>  
  <!-- /input-group -->
  <!--p> {{name}} -  {{adresse}} </p-->
</div>
<!-- Modal popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document" >
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Nouveau client</h4>
      </div>  <form ng-submit="submit()" name="myForm" class="my-form">
      <div class="modal-body">
      
          <div class="form-group">
            <label for="recipient-name" class="control-label">Nom:</label>
            <input type="text" ng-model="name" class="form-control" id="recipient-name" required>
          </div>
           <div class="form-group">
            <label for="recipient-name" class="control-label">Prenom:</label>
            <input type="text" ng-model="lastname" class="form-control" id="recipient-name" required>
          </div>
           <div class="form-group">
            <label for="recipient-name" class="control-label">Email:</label>
            <input type="email" ng-model="email" class="form-control" name="email" id="recipient-name" required>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Tél:</label>
            <input type="text" ng-model="tel" class="form-control" id="recipient-name" required>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Memo:</label>
            <textarea class="form-control" ng-model="memo" id="message-text" required></textarea>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" >Send message</button>
              <span class="error" ng-show="myForm.input.$error.required">Required!</span><br>
            </div>  
       
      </div> </form>
       
    </div>
  </div>
</div>